<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/_header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>HELLO I;M TONY Bennett </h1>
    <p>HE L P , , I M TRAPPED IN COM PUTE R ,</p>
    <p>plEASE lET ME OUT !! 1!!!!</p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>